@font-face {
    font-family: 'Montserrat Thin';
    src: url('assets/font_montserrat.ttf');
}

body {
    font-family: 'Montserrat Thin';
}

.header-gradient{
	background: linear-gradient(180deg, #FF5050, #67ADFF);
    color: white;
    padding: 14% 5% 14% 5%;
}

.navbar-brand {
    background: linear-gradient(270deg, #FF5050, #67ADFF);
    font-size: 24px;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
     background-clip: text;
    -webkit-background-clip: text;
}

.nav-item {
    color: #545454;
    font-weight: 600;
}

.primary-button {
    background: #FFFFFF;
    border-radius: 32px;
    padding: 10px 24px 10px 24px;
    color: #FF5050;
    font-weight:550;
    font-size: 15px;
}

.primary-button:hover{
    border-color: #FFFFFF;
}